#game-log{
    display:none;
}

#chat-wrapper{
    display:none;
}

@media (min-width: 250px) {
    .table-container {
        width: 250px;
        height: 600px;
        background-color: #98dfb6;
        border: 1px solid black;
        border-radius: 1px;
        margin-left: auto;
        margin-right: auto;
    }

    .board-container {
        width: 248px;
        height: 590px;
        margin-top: 2px;
        margin-left: auto;
        margin-right:auto;
        background-color: #0f5132;
        border: 1px solid red;
        border-radius: 1px;
    }

    .board {
        width: 246px;
        height: 288px;
        margin-top:2px;
        margin-left:auto;
        margin-right:auto;
        border: 1px solid black;
        border-radius: 1px;
        background-color: #c7eed8;
        float:left;
        padding:0px;
    }

    .single-box{
        width: 22px;
        height: 22px;
        border:1px solid black;

        background-color: #20c997;
        display: table-cell;
        border-collapse: collapse;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;

        font-size: 0.7rem;
    }

    .player-label{
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        align-self: center;
        display: inline-block;
        padding-top:4px;
        margin-bottom:4px;
        width: 100%;
    }

    .current-player{
        padding:2px 10px 2px 10px;
        background-color: #0dcaf0;
        border: 2px dotted red;
        border-radius: 8px
    }


    .create-button{
        margin-top:140px;
        width:140px;
        margin-left:100px;
        margin-right:auto;
        border: 3px dotted red;
        border-radius: 10px;
        font-size:20px;
    }

    #game-log{
        padding:5px 10px 5px 10px;
        background-color: #0dcaf0;
        margin: 10px auto 2px auto;
        width:240px;
        height:48px;
        display:block;
        border:2px solid gray;
        border-radius: 10px;
        overflow-y: scroll;
    }

    #log-list{
        padding-bottom:0px;
        margin-bottom:0px;
    }

    #game-log::-webkit-scrollbar{
        overflow-x: hidden;
        width: 8px;
    }

    #game-log::-webkit-scrollbar-thumb{
        background-color: darkolivegreen;    /* color of the scroll thumb */
        border-radius: 10px;       /* roundness of the scroll thumb */
        border: 2px solid darkolivegreen;  /* creates padding around scroll thumb */
    }
    #game-log::-webkit-scrollbar-corner{
        display: none;
    }

    #game-log li{
        padding:0px;
        margin:0px;
        font-size:8px;
        font-weight: 600;
    }

    #chat-log li{
        padding:0px;
        margin:0px;
        font-size:10px;
        font-weight: 600;
    }

    #chat-wrapper{
        display: block;
        /*padding:5px 10px 5px 10px;
        margin: 10px auto 20px auto;*/
        height: 120px;
        width:250px;
    }

    #chat-box{
        padding:5px 10px 5px 3px;
        margin: 2px auto 2px auto;
        height:55px;
        width: 240px;
        border: 2px solid lightcoral;
        border-radius: 10px;
        background: #0dcaf0;
        overflow-y: scroll;
    }

    #chat-input-box{
        padding: 2px 0 0 0;
        margin: 2px auto 2px auto;
        width: 240px;
    }

    #chat-input-text{
        padding: 5px 10px 5px 10px;
        font-size:12px;
        border: 2px solid lightsalmon;
        border-radius: 10px;
        width: 160px;
        height: 26px;
    }
    .chat-send{
        padding: 0px 10px 2px 10px!important;
        margin: 2px auto 2px auto;
        height:26px!important;
        border: 2px solid lightsalmon!important;
        font-weight: 600!important;
        border-radius: 10px!important;
    }

    #chat-box::-webkit-scrollbar{
        overflow-x: hidden;
        width: 8px;
    }

    #chat-box::-webkit-scrollbar-thumb{
        background-color: darkolivegreen;    /* color of the scroll thumb */
        border-radius: 5px;       /* roundness of the scroll thumb */
        border: 1px solid darkolivegreen;  /* creates padding around scroll thumb */
    }
    #chat-box::-webkit-scrollbar-corner{
        display: none;
    }
}

@media (min-width: 380px) {
    .table-container {
        width: 370px;
        height: 850px;
        background-color: #98dfb6;
        border: 1px solid black;
        border-radius: 1px;
        margin-left: auto;
        margin-right: auto;
    }

    .board-container {
        width: 360px;
        height: 840px;
        margin-top: 2px;
        margin-left: auto;
        margin-right:auto;
        background-color: #0f5132;
        border: 1px solid red;
        border-radius: 1px;
    }

    .board {
        width: 355px;
        height: 410px;
        margin-top:2px;
        margin-left:auto;
        margin-right:auto;
        border: 1px solid black;
        border-radius: 1px;
        background-color: #c7eed8;
        float:left;
        padding:1px;
    }

    .single-box{
        width: 32px;
        height: 32px;
        border:1px solid black;

        background-color: #20c997;
        display: table-cell;
        border-collapse: collapse;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;

        font-size: 1.0rem;
    }

    .player-label{
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        align-self: center;
        display: inline-block;
        padding-top:10px;
        margin-bottom:10px;
        width: 100%;
    }

    .current-player{
        padding:5px 20px 5px 20px;
        background-color: #0dcaf0;
        border: 3px dotted red;
        border-radius: 10px
    }


    .create-button{
        margin-top:140px;
        width:140px;
        margin-left:100px;
        margin-right:auto;
        border: 3px dotted red;
        border-radius: 10px;
        font-size:20px;
    }



    #game-log{
        padding:5px 10px 5px 10px;
        background-color: #0dcaf0;
        margin: 10px auto 5px auto;
        width:350px;
        height:55px;
        display:block;
        border:2px solid gray;
        border-radius: 10px;
        overflow-y: scroll;
    }

    #log-list{
        padding-bottom:0px;
        margin-bottom:0px;
    }

    #game-log::-webkit-scrollbar{
        overflow-x: hidden;
        width: 8px;
    }

    #game-log::-webkit-scrollbar-thumb{
        background-color: darkolivegreen;    /* color of the scroll thumb */
        border-radius: 10px;       /* roundness of the scroll thumb */
        border: 2px solid darkolivegreen;  /* creates padding around scroll thumb */
    }
    #game-log::-webkit-scrollbar-corner{
        display: none;
    }

    #game-log li{
        padding:0px;
        margin:0px;
        font-size:12px;
        font-weight: 600;
    }

    #chat-log li{
        padding:0px;
        margin:0px;
        font-size:12px;
        font-weight: 600;
    }

    #chat-wrapper{
        display: block;
        /*padding:5px 10px 5px 10px;
        margin: 10px auto 20px auto;*/
        height: 110px;
        width:370px;
    }

    #chat-box{
        padding:5px 10px 5px 10px;
        margin: 2px auto 2px auto;
        height:55px;
        width: 350px;
        border: 2px solid lightcoral;
        border-radius: 10px;
        background: #0dcaf0;
        overflow-y: scroll;
    }

    #chat-input-box{
        padding: 2px 0 0 0;
        margin: 2px auto 2px auto;
        width: 350px;
    }

    #chat-input-text{
        padding: 5px 10px 5px 10px;
        font-size:12px;
        border: 2px solid lightsalmon;
        border-radius: 10px;
        width: 275px;
        height: 26px;
    }
    .chat-send{
        padding: 0px 10px 2px 10px!important;
        margin: 2px auto 2px auto;
        height:26px!important;
        border: 2px solid lightsalmon!important;
        font-weight: 600!important;
        border-radius: 10px!important;
    }

    #chat-box::-webkit-scrollbar{
        overflow-x: hidden;
        width: 8px;
    }

    #chat-box::-webkit-scrollbar-thumb{
        background-color: darkolivegreen;    /* color of the scroll thumb */
        border-radius: 5px;       /* roundness of the scroll thumb */
        border: 1px solid darkolivegreen;  /* creates padding around scroll thumb */
    }
    #chat-box::-webkit-scrollbar-corner{
        display: none;
    }

}
@media (min-width: 1200px) {
    .table-container {
        width: 1150px;
        height: 780px;
        background-color: #98dfb6;
        border: 1px solid black;
        border-radius: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .board-container {
        width: 1100px;
        height: 600px;
        padding-top:5px;
        margin-top: 0px;
        margin-left: auto;
        margin-right:auto;
        background-color: #0f5132;
        border: 1px solid red;
        border-radius: 40px;
    }

    .board {
        width: 500px;
        height: 570px;
        margin-top:10px;
        margin-left:30px;
        margin-right:auto;
        border: 1px solid black;
        border-radius: 20px;
        background-color: #c7eed8;
        float:left;
        padding:25px;
    }

    .single-box{
        width: 40px;
        height: 40px;
        border:1px solid black;

        background-color: #20c997;
        display: table-cell;
        border-collapse: collapse;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;

        font-size: 1.5rem;
    }

    .player-label{
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        align-self: center;
        display: inline-block;
        padding-top:10px;
        width: 49%;
        margin-bottom:10px;
    }

    .current-player{
        padding:5px 20px 5px 20px;
        background-color: #0dcaf0;
        border: 3px dotted lightslategray;
        border-radius: 15px
    }


    .create-button{
        margin-top:200px;
        width:240px;
        margin-left:100px;
        margin-right:auto;
        border: 4px dotted red;
        border-radius: 20px;
        font-size: 24px;
    }

    #game-log{
        padding:5px 10px 5px 10px;
        background-color: #0dcaf0;
        margin: 10px auto 20px 50px;
        width:600px;
        height:130px;
        display:block;
        border:5px solid gray;
        border-radius: 25px;
        overflow-y: scroll;
        float:left;
    }

    #log-list{
        padding-bottom:0px;
        margin-bottom:0px;
    }

    #game-log::-webkit-scrollbar{
        overflow-x: hidden;
        width: 12px;
    }

    #game-log::-webkit-scrollbar-thumb{
        background-color: darkolivegreen;    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: 2px solid darkolivegreen;  /* creates padding around scroll thumb */
    }
    #game-log::-webkit-scrollbar-corner{
        display: none;
    }

    #game-log li{
        padding:0px;
        margin:0px;
        font-size:14px;
        font-weight: 800;
    }

    #chat-wrapper{
        display: block;
        padding:5px 10px 5px 10px;
        margin: 10px auto 20px 50px;
        float:left;
        height: 120px;
        width:400px;
    }

    #chat-box{
        margin-bottom: 10px;
        padding: 5px 10px 5px 10px;
        height:87px;
        border: 5px solid lightcoral;
        border-radius: 20px;
        background: #0dcaf0;
        overflow-y: scroll;
    }
    #chat-input-text{
        border-radius: 8px;
        padding: 2px 5px 2px 10px;
        margin-right: 10px;
        border: 2px solid lightsalmon;
        width: 278px;
        height: 32px;
        float: left;
    }

    .chat-send{
        padding: 2px 10px 2px 10px!important;
        height:32px!important;
        border: 2px solid lightsalmon!important;
        font-weight: 800!important;
    }

    #chat-box::-webkit-scrollbar{
        overflow-x: hidden;
        width: 12px;
    }

    #chat-box::-webkit-scrollbar-thumb{
        background-color: darkolivegreen;    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: 2px solid darkolivegreen;  /* creates padding around scroll thumb */
    }
    #chat-box::-webkit-scrollbar-corner{
        display: none;
    }

}
.box-label{
    font-weight: bold;
    color: white;
    background-color: #f6993f;
}

.single-box:hover{
    background-color: #0dcaf0;
}
